@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 270 60% 98%;
    --foreground: 271 45% 25%;
    --card: 270 60% 98%;
    --card-foreground: 271 45% 25%;
    --popover: 270 60% 98%;
    --popover-foreground: 271 45% 25%;
    --primary: 271 71% 42%;
    --primary-foreground: 270 60% 98%;
    --secondary: 270 20% 92%;
    --secondary-foreground: 271 45% 25%;
    --muted: 270 20% 92%;
    --muted-foreground: 271 25% 45%;
    --accent: 270 50% 90%;
    --accent-foreground: 271 45% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 271 25% 85%;
    --input: 271 25% 85%;
    --ring: 271 71% 42%;
    --chart-1: 271 71% 42%;
    --chart-2: 281 61% 52%;
    --chart-3: 261 51% 62%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 271 45% 20%;
    --sidebar-foreground: 270 40% 96%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 271 45% 30%;
    --sidebar-accent-foreground: 270 40% 98%;
    --sidebar-border: 271 45% 25%;
    --sidebar-ring: 271 71% 52%;
  }
  .dark {
    --background: 271 45% 10%;
    --foreground: 270 40% 96%;
    --card: 271 45% 12%;
    --card-foreground: 270 40% 96%;
    --popover: 271 45% 10%;
    --popover-foreground: 270 40% 96%;
    --primary: 271 71% 62%;
    --primary-foreground: 271 45% 10%;
    --secondary: 271 45% 20%;
    --secondary-foreground: 270 40% 96%;
    --muted: 271 45% 20%;
    --muted-foreground: 270 25% 75%;
    --accent: 271 45% 25%;
    --accent-foreground: 270 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 271 45% 25%;
    --input: 271 45% 25%;
    --ring: 271 71% 62%;
    --chart-1: 271 71% 62%;
    --chart-2: 281 61% 72%;
    --chart-3: 261 51% 82%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 271 45% 8%;
    --sidebar-foreground: 270 40% 96%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 271 45% 20%;
    --sidebar-accent-foreground: 270 40% 98%;
    --sidebar-border: 271 45% 15%;
    --sidebar-ring: 271 71% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
